
Full Skills List

    Accounting
    Administration-Data Entry
    Administration-Dictation
    Administration-Organization
    Administration-Receptionist
    Administration-Transcription
    Administration-Typing (60wpm+)
    Art-Creative Writing
    Art-Graphic-Design
    Art-Other
    Art-Painting
    Art-Photography
    AV-Audio-Post Production
    AV-Audio-Technician
    AV-CAD Design
    AV-Integration/Installation
    AV-Lighting Technician
    AV-Video-Camera
    AV-Video-Editing
    AV-Video-Production
    Computer-Helpdesk
    Computer-Presentation Software
    Computer-Programming-.Net
    Computer-Programming-Flash
    Computer-Programming-Mobile Phone
    Computer-Programming-Scripting
    Computer-Programming-SQL
    Computer-Programming-Web
    Computer-Systems Administration-Mac
    Computer-Systems Administration-Other
    Computer-Systems Administration-Windows
    Computer-Web Design
    Counseling / Life Coach
    Engineering-Electrical
    Engineering-Mechanical
    Hospitality-Cooking-Catering
    Hospitality-Cooking-Family
    Hospitality-Greeting
    Hospitality-Overnight
    Insurance-Commercial
    Insurance-Personal
    Janitorial
    Language-Fluent Chinese
    Language-Fluent French
    Language-Fluent German
    Language-Fluent Italian
    Language-Fluent Japanese
    Language-Fluent Korean
    Language-Fluent Russian
    Language-Fluent Sign Language
    Language-Fluent Spanish
    Law Enforcement
    Legal-Attorney
    Legal-Paralegal
    Marketing-Advertising
    Marketing-PR
    Martial Arts Training
    Medical-Dentistry
    Medical-Doctor
    Medical-EMT
    Medical-Nurse
    Money-Handling
    Music-Bass
    Music-Drums
    Music-Guitar
    Music-Keys
    Music-Other
    Music-Strings
    Music-Vocals
    Network-Engineering
    Project-Management
    Real Estate-Commercial
    Real Estate-Residential
    Security
    Teaching-Adults
    Teaching-Children
    Teaching-Curriculum
    Teaching-Teens
    Theater-Acting
    Theater-Costume-Design
    Theater-Set-Design
    Trade-Automotive
    Trade-Carpentry
    Trade-Commercial Drivers License
    Trade-Electrical
    Trade-Flooring
    Trade-Painting
    Trade-Plumbing
    Woodworking

