.navbar
  .navbar-inner
    .container
      = link_to('Skills on The City', skills_path, {:class => 'brand'})
      = form_tag(search_skills_path, :class => "navbar-search search-query pull-right") do
        = search_field_tag(:query, nil, {:class => "search-query", :placeholder => "search skills", :type => "tex"})
        = submit_tag('Search', {:class => "btn"})
